<% layout('layouts/index')%>

<h1>Ingredients</h1>

<h2>Current Ingredients</h2>
<ul>
    <% for (let ingredient of ingredients) { %>
        <li>
            <span><%= ingredient.amount %></span>
            <span><%= ingredient.measure %></span>
            <span><%= ingredient.prep %></span>
            <span><%= ingredient.ingredient %></span>
            <form
                    style="display: inline"
                    action="/recipes/<%= recipeId ;%>/ingredients/<%= ingredient._id ;%>?_method=DELETE"
                    method="post"
            >
                <button>Delete</button>
            </form>
        </li>
    <% } %>
</ul>

<h2>Add Ingrdient</h2>
<form action="/recipes/<%= recipeId ;%>/ingredients" method="post">
    <div>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" placeholder="amount" step="0.01">
    </div>
    <div>
        <label for="measure">Measure:</label>
        <input type="text" name="measure" id="measure" placeholder="(cup/tsp/pinch/etc)">
    </div>
    <div>
        <label for="prep">prep:</label>
        <input type="text" name="prep" id="prep" placeholder="(chopped/ground/blank/etc)">
    </div>
    <div>
        <label for="ingredient">Ingredient:</label>
        <input type="text" name="ingredient" id="ingredient" placeholder="ingredient">
    </div>

    <button>Add Ingredient</button>
</form>

<a href="/recipes/<%= recipeId %>">Back to Recipe</a>
