<% layout('layouts/index'); %>

<div class="d-flex justify-content-center mb-5">
    <div class="w-75">
        <h1>Edit: <%= recipe.name; %></h1>

        <form action="/recipes/<%= recipe._id; %>?_method=PUT" method="post">
            <div class="mb-3">
                <label class="form-label" for="name">Recipe Name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="recipe name"
                       value="<%= recipe.name; %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="yield">Yield</label>
                <input class="form-control" type="text" id="yield" name="yield" placeholder="(4 servings, 1L, etc)"
                       value="<%= recipe.yield; %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="course">Course</label>
                <select class="form-control" name="course" id="course">
                    <% for (let course of coursesArray) { %>
                        <option value="<%= course; %>" <%= recipe.course === course && 'selected' %>> <%= course; %> </option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="marinateTime">Marinate Time</label>
                <input class="form-control" type="number" id="marinateTime" name="marinateTime" placeholder="(mins)"
                       value="<%= recipe.marinateTime %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="prepTime">Prep Time</label>
                <input class="form-control" type="number" id="prepTime" name="prepTime" placeholder="(mins)"
                       value="<%= recipe.prepTime %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="cookTime">Cook Time</label>
                <input class="form-control" type="number" id="cookTime" name="cookTime" placeholder="(mins)"
                       value="<%= recipe.cookTime %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="riseTime">Rise Time</label>
                <input class="form-control" type="number" id="riseTime" name="riseTime"
                       placeholder="(for baking, in mins)" value="<%= recipe.totalRiseTime %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="activeTime">Active Time</label>
                <input class="form-control" type="number" id="activeTime" name="activeTime" placeholder="(mins)"
                       value="<%= recipe.activeTime %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="from">From</label>
                <input class="form-control" type="text" id="from" name="from" placeholder="(website/cookbook)"
                       value="<%= recipe.from %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="fromURL">From URL</label>
                <input class="form-control" type="text" id="fromURL" name="fromURL"
                       placeholder="(if website, this is URL)" value="<%= recipe.fromURL %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="attribution">Attribution</label>
                <input class="form-control" type="text" id="attribution" name="attribution"
                       placeholder="(chef/author/blank if same as From)" value="<%= recipe.attribution %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="prepBowls">Prep Bowls</label>
                <textarea class="form-control" name="prepBowls" id="prepBowls" cols="30"
                          rows="10"><%= recipe.prepBowls %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="directions">Directions</label>
                <textarea class="form-control" name="directions" id="directions" cols="30"
                          rows="10"><%= recipe.directions %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="specialEquipment">Special Equipment</label>
                <textarea class="form-control" name="specialEquipment" id="specialEquipment" cols="30"
                          rows="10"><%= recipe.specialEquipment %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="notes">Notes</label>
                <textarea class="form-control" name="notes" id="notes" cols="30"
                          rows="10"><%= recipe.notes %></textarea>
            </div>
            <div class="d-grid">
                <button class="btn btn-outline-success btn-block" type="submit">Update Recipe</button>
            </div>
        </form>

    </div>
</div>


